<!-- https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css -->
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top transparent-navbar">
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-explosion" style="color: darkcyan;"></i>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links + Search -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link active" href="">All Data</a>
        <a class="nav-link" href="/api/new">New</a>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="../api/signUp">Sign-Up<i class="fa-solid fa-right-to-bracket"></i></a>
        <a class="nav-link" href="../api/logIn">Log-In<i class="fa-solid fa-user"></i></a>
        <a class="nav-link" href="../api/logout">logout📤</a>
      </div>

      <!-- Search Bar -->
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
</nav>
