<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <form action="newdata" method="post">
        <label for="name">Name</label>
        <input type="text" placeholder="name" id="name" name="name" required>
        <br>
        <label for="deg">Deg</label>
        <input type="text" placeholder="deg" id="deg" name="deg" required>
        <br>
        <label for="age">Age</label>
        <input type="number" placeholder="age"  id="number" name="age" required>
        <br>
      <label for="photo">Image URL</label>
      <input type="url" id="photo" name="img" placeholder="Paste image URL"> <br>

        <button type="submit">submit</button>
    </form>
</body>
</html>