<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="update" method="post">
        <label for="name">Name</label>
        <input type="text" placeholder="name" id="name" name="name">
        <br>
        <label for="class">Class</label>
        <input type="text" placeholder="class" id="class" name="class2">
        <br>
        <label for="age">Age</label>
        <input type="number" placeholder="age"  id="number" name="age">
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>