<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="update" method="post">
        <label for="name">Name</label>
        <input type="text" placeholder="name" value="name" id="name">
        <label for="class">Class</label>
        <input type="text" placeholder="class" value="class" id="class">
        <label for="age">Name</label>
        <input type="number" placeholder="age" value="number" id="number">
    </form>
</body>
</html>