<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="newdata" method="post">
        <label for="name">Name</label>
        <input type="text"  id="name" name="name"><%= data.name %></input>
        <br>
        <label for="deg">Deg</label>
        <input type="text"  id="deg" name="deg"><%= data.deg %></input>
        <br>
        <label for="age">Age</label>
        <input type="number" id="number" name="age"><%= data.age %></input>
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>